<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewpoint" content="width-device-width, initial-scale=1.0">
	<title>Login page | Zoomies</title>

<script type= "module" src="/main.js"></script>
</head>
<body>
<br>
<h1>Welcome</h1>
<hr>
<br><br><br>

<br>
<form id="loginForm">
       <label class="input">Email Id:</label>
       <input type="email" id="emailId" name="emailId" class="input2" required/><br><br>
	   <label class="input">Password:</label>
       <input type="password" id="password" name="password" class="input2" required/><br><br>
       <input type="submit" id = "submit" value = "Login" class="button">
     </form>
